<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>TimeLogger</filter-name>
        <filter-class>Filters.TimeLogger</filter-class>
    </filter>
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>Filters.SessionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>JspAccessFilter</filter-name>
        <filter-class>Filters.JspAccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TimeLogger</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>JspAccessFilter</filter-name>
        <url-pattern>/jsp/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>Listeners.WebappContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:derby://localhost:1527/MultisalaDB;user=pythoni;password=pythoni</param-value>
    </context-param>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Servlets.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatoPrenotazioni</servlet-name>
        <servlet-class>Servlets.StatoPrenotazioni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Spettacoli</servlet-name>
        <servlet-class>Servlets.Spettacoli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgFilm</servlet-name>
        <servlet-class>Servlets.ProgFilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioFilm</servlet-name>
        <servlet-class>Servlets.DettaglioFilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prenotazioni</servlet-name>
        <servlet-class>Servlets.Prenotazioni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aggiungiPrenTmp</servlet-name>
        <servlet-class>Servlets.aggiungiPrenTmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperaPassword</servlet-name>
        <servlet-class>Servlets.RecuperaPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>Servlets.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecoveryPasswordForm</servlet-name>
        <servlet-class>Servlets.RecoveryPasswordForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>Servlets.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrenotaPosto</servlet-name>
        <servlet-class>Servlets.PrenotaPosto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfermaPrenotazione</servlet-name>
        <servlet-class>Servlets.ConfermaPrenotazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncassiFilm</servlet-name>
        <servlet-class>Servlets.IncassiFilm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientiTop</servlet-name>
        <servlet-class>Servlets.ClientiTop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePrenotazione</servlet-name>
        <servlet-class>Servlets.DeletePrenotazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePrenotazioneTmp</servlet-name>
        <servlet-class>Servlets.DeletePrenotazioneTmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IsLogged</servlet-name>
        <servlet-class>Servlets.IsLogged</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSpettacoli</servlet-name>
        <servlet-class>Servlets.AdminSpettacoli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHome</servlet-name>
        <servlet-class>Servlets.AdminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoPrenotazioniUtente</servlet-name>
        <servlet-class>Servlets.InfoPrenotazioniUtente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SynchronizeTimers</servlet-name>
        <servlet-class>Servlets.SynchronizeTimers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionePrenotazioni</servlet-name>
        <servlet-class>Servlets.GestionePrenotazioni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetSpettacoli</servlet-name>
        <servlet-class>Servlets.AdminGetSpettacoli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetPrenotazioni</servlet-name>
        <servlet-class>Servlets.AdminGetPrenotazioni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneraSpettacoli</servlet-name>
        <servlet-class>Servlets.GeneraSpettacoli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCredito</servlet-name>
        <servlet-class>Servlets.GetCredito</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/check-login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatoPrenotazioni</servlet-name>
        <url-pattern>/statoPrenotazioni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgFilm</servlet-name>
        <url-pattern>/film.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioFilm</servlet-name>
        <url-pattern>/dettaglio-film.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Spettacoli</servlet-name>
        <url-pattern>/spettacoli.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prenotazioni</servlet-name>
        <url-pattern>/prenotazione.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aggiungiPrenTmp</servlet-name>
        <url-pattern>/aggiungiPrenotazioneTmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperaPassword</servlet-name>
        <url-pattern>/recuperaPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecoveryPasswordForm</servlet-name>
        <url-pattern>/password-recovery.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrenotaPosto</servlet-name>
        <url-pattern>/prenotaPosto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfermaPrenotazione</servlet-name>
        <url-pattern>/conferma-prenotazione.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncassiFilm</servlet-name>
        <url-pattern>/admin/incassi-film.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientiTop</servlet-name>
        <url-pattern>/admin/clienti-top.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePrenotazione</servlet-name>
        <url-pattern>/DeletePrenotazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePrenotazioneTmp</servlet-name>
        <url-pattern>/DeletePrenotazioneTmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IsLogged</servlet-name>
        <url-pattern>/IsLogged</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSpettacoli</servlet-name>
        <url-pattern>/admin/spettacoli.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/admin/index.html</url-pattern>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoPrenotazioniUtente</servlet-name>
        <url-pattern>/profile.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SynchronizeTimers</servlet-name>
        <url-pattern>/synchronizeTimers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionePrenotazioni</servlet-name>
        <url-pattern>/admin/prenotazioni.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetSpettacoli</servlet-name>
        <url-pattern>/AdminGetSpettacoli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetPrenotazioni</servlet-name>
        <url-pattern>/AdminGetPrenotazioni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneraSpettacoli</servlet-name>
        <url-pattern>/generaSpettacoli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCredito</servlet-name>
        <url-pattern>/getCredito</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
